body{
    font-family: Arial;
    padding:20px;
    
}
h1{
    text-align: center;
}

.card{
    border:1px solid gray;
    padding:15px;
    margin:10px;
    width:250px;
}
#products{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}